## Short intro to python
Run the following cells, with shift-enter, in turn to get a quick view of basic python!
Feel free to both ask and insert new cells and play around.

Shortcuts for adding cells:

Enter and Esc goes in and out of typing mode.

a = add above

b = add below

d,d = delete

In [ ]:
5

In [ ]:
x = 3

In [ ]:
print(x)

In [ ]:
str(x)

In [ ]:
int('3')

In [ ]:
x += 1
print(x)

In [ ]:
y = x
y +=1
if x==5:
    print('x changed too')
else:
    print('only y changed')

In [ ]:
1 if 1==0 else 0

### Lists

In [ ]:
range(5)

In [ ]:
type(range(5))

In [ ]:
list(range(3,6))

In [ ]:
x = [4,7,66]
len(x)

In [ ]:
x[0]

In [ ]:
x[-1]

In [ ]:
sum(x)

### List comprehension

In [ ]:
x = [i*i for i in range(10)]
x

### Indexing

In [ ]:
x[3:6]

In [ ]:
x[3:]

In [ ]:
x[:-2]

In [ ]:
x[-2:]

In [ ]:
x.append(100)
x.remove(9)
x

### For

In [ ]:
for i in x:
    print(i)

### Dicts

In [ ]:
dict()

In [ ]:
dictionary = {}
dictionary['key1'] = 5
dictionary[2] = 7
dictionary

In [ ]:
dictionary['key1']

In [ ]:
dictionary['missing_key']

In [ ]:
for key in dictionary:
    print('key:' + str(key) + ', value:' + str(dictionary[key]))

In [ ]:
{i:i*i for i in range(10) if i%2 == 0}

### Sets

In [ ]:
r = list(range(10))
s = {i for i in r + r}
print(type(s))
s

In [ ]:
t = set()
t.add(4)
t.add(9)

print(s|t)
print(s&t)

### Tuples

In [ ]:
type(())

In [ ]:
('sdf')

In [ ]:
('sdf', 89)

In [ ]:
tup = (2,6,3)
tup[0]

## Functions

In [ ]:
def f(x,y):
    return x+y

In [ ]:
def h():
    print("Hello World!")
    
h()

### Named parameters and default values

In [ ]:
def fdef(repeat,num_punct,greeting='Hello',punctuation='!'):
    greet = greeting + num_punct*punctuation
    print(repeat * greet)
    
fdef(3,2)
fdef(1,1,greeting='Hey')

### Lambda functions

In [ ]:
g = lambda x: 9
g(11)

In [ ]:
h_lam = lambda : h()
h_lam()

In [ ]:
f = lambda x,y: x-y
f(5,4)

### Unpacking

In [ ]:
t = (1,1)

In [ ]:
#unpack tuple
f(*t)

In [ ]:
f(t)

In [ ]:
*t

### Unpacking and multiple assignment

In [ ]:
a, b = (3, 7)
print(a)
print(b)

In [ ]:
a, b = 3, 9
print(a)
print(b)

## Debugging
When in debugging mode type ? for help.

Inspect value of i by typing i or print(i).

Most common commands: n,s,r,c,l,q

In [ ]:
for i in range(10):
    if i==5 or i==8:
        import pdb; pdb.set_trace()
    print(i)

### Numpy

In [ ]:
import numpy as np

In [ ]:
help(np)

In [ ]:
x = [1,2,3,4]
xnp = np.array(x)
xnp

In [ ]:
twoD = np.array([x,xnp+1])
twoD

In [ ]:
xnp.shape

In [ ]:
twoD.shape

In [ ]:
np.zeros((4,3))

In [ ]:
np.ones(4)

In [ ]:
xnp>2

In [ ]:
np.where(xnp>2)

In [ ]:
np.where(xnp>2,xnp,2042)

In [ ]:
y=np.random.randn(2,3)
y

In [ ]:
y.min()

In [ ]:
y.min(axis=0)

In [ ]:
y.min(axis=1)

In [ ]:
y.argmin(axis=1)

In [ ]:
y.mean(axis=0)

In [ ]:
y.std(axis=0)

### Transpose and matrix multiplication
If $M$ has shape $(a,b)$ then $M^T$, the transpose of $M$, has rows and columns switched. The shape of $M^T$ is $(b,a)$.
If $M$ has shape $(a,b)$ and $N$ as shape $(b,c)$ then $M*N$ can be formed and has shape $(a,c)$. 

In particular $Ax$, where $x$ is a vector, can be seen as a linear combination of the columns of $A$ with $x$ as weights:

$$Ax = x_1A_1 + x_2A_2 + \ldots + x_dA_d$$.

In [ ]:
twoD.T

In [ ]:
np.matmul(twoD,twoD.T)

In [ ]:
I = np.eye(2)
I

In [ ]:
c = np.array([3,2])
np.matmul(I,c)

### Slicing

In [ ]:
twoD[0]

In [ ]:
twoD[0,:]

In [ ]:
twoD[:]

In [ ]:
twoD[:,-1]

In [ ]:
twoD[:,1:]

In [ ]:
threeD = twoD[:,:,None]
print(threeD.shape)
threeD

### Pandas and Dataframes

In [ ]:
import pandas as pd
help(pd)

A Dataframe is table similar to a relational database table. Rows are enumerated with the Dataframe's Index and its columns also have an order and labels. Let's take a look at a data frame. Don't worry too much about how we create it as we will be focusing on manipulating existing dataframes.

In [ ]:
data_dict = {'y2016': [10,17,23,25], 'y2017': [11,18,24,26], 'y2018': [12,19,25,27]}
df = pd.DataFrame(data_dict)
display(df)

# index can also have levels
df['Continent'] = ['Europe','Europe','America','America']
df['Country'] = ['Sweden', 'Spain', 'Mexico', 'Ecuador']
df.set_index(['Continent', 'Country'], inplace=True)
display(df)

# so can columns
dff = df.copy()
dff.columns = pd.MultiIndex.from_product([['Time'], dff.columns])
display(dff)

### A few dataframe operations
We will only go through a few operations here. We begin with aggregation. The simplest aggragation is summing over rows or columns. The axis spanning over all rows is axis=0 , and the axis spanning over all columns is axis=1.

In [ ]:
# sum each column
display( df.sum(axis=0) )

# sum each row
display( df.sum(axis=1) )

Before we continue, lets convert both levels of the index to two new columns.

In [ ]:
df.reset_index(inplace=True)
display(df)

### Column transformations

In [ ]:
df['y_mean'] = (df.y2016 + df.y2017 + df.y2018)/3
display(df)

### Groupby's
In the above (second) example we used each row to compute a new column as a function of all columns.
Sometimes we will want to do the same thing but use a whole group of rows.

For example lets group data by Continent and compute average Continent temperature for each year.

In [ ]:
# this would also work before resetting index as one can group by index or levels of index
df.groupby('Continent').mean()

### Merge
As you may have noted, Dataframes are similar to relational database tables. In fact, pandas also provides merge and join operations. Join is a special case of merge. We will only use merge, but you can think of it as a database join!

By default, df1.merge(df2) will join on the columns which are both in df1 and df2.
Finally, df1.merge(df2, how='left') will make this a left outer join rather than inner join which is default.

In [ ]:
df2 = pd.DataFrame({'Continent': ['Europe', 'America'], 'ContinentPopulation': ['743M','970M']})
display(df)
display(df2)
df = df.merge(df2)
display(df)

### Apply
Apply is pandas name for 'map' of functional programming

In [ ]:
df['ContinentPopulation'] = df['ContinentPopulation'].apply(lambda st: int(st[:-1]))
display(df)